concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      id-token: write # Required for OIDC
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          config-file: release-please-config.json
          manifest-file: release-please-manifest.json

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ steps.release.outputs.releases_created }}

      - uses: ./.github/actions/prepare
        if: ${{ steps.release.outputs.releases_created }}

      - run: |
          pnpm build
          pnpm --filter "./packages/*" publish --no-git-checks
        if: ${{ steps.release.outputs.releases_created }}

name: Release

on:
  push:
    branches:
      - main

permissions: {}
